
############################################# Another try:
# # Add millicharged particle (fermion spin = 1*1/2, charge = 3*1e/3, neutral color)
# 1000222:new = chi chibar 1 3 0 0.0001 0
# 1000222:m0 = 0.0001              # MCP mass in GeV


# 111:onMode = off
# 111:oneChannel 		= 0 1.00 1 22 1000222 -1000222   # 5% BR for exotic channel
# # 111:addChannel 	= 1 0.05 0 22 22       # 95% BR for standard 2 gamma decay
# 111:mayDecay = on
